In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import selenium 
from selenium import webdriver 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re

Ques.1- Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [4]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
rank=[]
name=[]
artist=[]
date=[]
views=[]
for k in range(1,31):
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[1]".format(k)):
            rank.append(i.text)
    except NoSuchAttributeException as e:
        rank.append('--')
        
    
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[2]".format(k)):
            name.append(i.text)
    except NoSuchAttributeException as e:
        name.append('--')
        
        
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[3]".format(k)):
            artist.append(i.text)
    except NoSuchAttributeException as e:
        artist.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[4]".format(k)):
            views.append(i.text)
    except NoSuchAttributeException as e:
        views.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[5]".format(k)):
            date.append(i.text)
    except NoSuchAttributeException as e:
        date.append('--')

In [6]:
yt=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload date':date,'Views':views})

In [7]:
yt

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.18
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.48
9,10.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.47
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.35
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.86
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.65
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.53
15,16.,"""Sorry""[34]",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.24
19,20.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",3.24
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.23
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.23
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.18
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.17
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.17
25,26.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.15
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.10
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.04

In [8]:
driver.close()

Ques.2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [96]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [97]:
url='https://www.bcci.tv/'
driver.get(url)

In [98]:
Intl= driver.find_element_by_xpath('//a[@class = "nav-link  "]') 
Intl.click()

In [100]:
Name=[]
name_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-top']/h5[2]")

for i in name_tag:
    ntitle=i.text
    Name.append(ntitle)
    
Name

['SRI LANKA TOUR OF INDIA T20 SERIES 2022',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022',
 'ICC WOMENS WORLD CUP 2022',
 'ICC WOMENS WORLD CUP 2022',
 'ICC WOMENS WORLD CUP 2022',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022',
 'ICC WOMENS WORLD CUP 2022',
 'ICC WOMENS WORLD CUP 2022']

In [101]:
Place=[]
place_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']")
for i in place_tag:
    ptitle=i.text.split("-")
    Place.append(ptitle)
Place

[['3rd T20I ',
  ' Himachal Pradesh Cricket Association Stadium, Dharamsala\nMatch Centre'],
 ['1st Test ',
  ' Punjab Cricket Association IS Bindra Stadium, Mohali\nMatch Centre'],
 ['Bay Oval, Mount Maunganui\nMatch Centre'],
 ['Seddon Park, Hamilton\nMatch Centre'],
 ['Seddon Park, Hamilton\nMatch Centre'],
 ['2nd Test ', ' M Chinnaswamy Stadium, Bengaluru\nMatch Centre'],
 ['Bay Oval, Mount Maunganui\nMatch Centre'],
 ['Eden Park, Auckland\nMatch Centre']]

In [102]:
Title=[]
title_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-top']")
for i in title_tag:
    ttitle=i.text.split("-")[0]
    Title.append(ttitle)
Title

['SRI LANKA TOUR OF INDIA T20 SERIES 2022\n27 FEB 2022\n7:00 PM IST',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022\n4 MAR 2022\n9:30 AM IST',
 'ICC WOMENS WORLD CUP 2022\n6 MAR 2022\n6:30 AM IST',
 'ICC WOMENS WORLD CUP 2022\n10 MAR 2022\n6:30 AM IST',
 'ICC WOMENS WORLD CUP 2022\n12 MAR 2022\n6:30 AM IST',
 'SRI LANKA TOUR OF INDIA TEST SERIES 2022\n12 MAR 2022\n2:30 PM IST',
 'ICC WOMENS WORLD CUP 2022\n16 MAR 2022\n6:30 AM IST',
 'ICC WOMENS WORLD CUP 2022\n19 MAR 2022\n6:30 AM IST']

In [103]:
Date=[]
date_tag=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
for i in date_tag:
    date=i.text
    Date.append(date)
Date

['27 FEB 2022',
 '4 MAR 2022',
 '6 MAR 2022',
 '10 MAR 2022',
 '12 MAR 2022',
 '12 MAR 2022',
 '16 MAR 2022',
 '19 MAR 2022']

In [104]:
Time=[]
time_tag=driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']")
for i in time_tag:
    timetag=i.text
    Time.append(timetag)
Time

['7:00 PM IST',
 '9:30 AM IST',
 '6:30 AM IST',
 '6:30 AM IST',
 '6:30 AM IST',
 '2:30 PM IST',
 '6:30 AM IST',
 '6:30 AM IST']

In [105]:
Fixtures=pd.DataFrame({})
Fixtures['Title']=Title[0:5]
Fixtures['Name']=Name[0:5]
Fixtures['Place']=Place[0:5]
Fixtures['Date']=Date[0:5]
Fixtures['Time']=Time[0:5]
Fixtures

,Title,Name,Place,Date,Time
0,SRI LANKA TOUR OF INDIA T20 SERIES 2022\n27 FE...,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"[3rd T20I , Himachal Pradesh Cricket Associat...",27 FEB 2022,7:00 PM IST
1,SRI LANKA TOUR OF INDIA TEST SERIES 2022\n4 MA...,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"[1st Test , Punjab Cricket Association IS Bin...",4 MAR 2022,9:30 AM IST
2,ICC WOMENS WORLD CUP 2022\n6 MAR 2022\n6:30 AM...,ICC WOMENS WORLD CUP 2022,"[Bay Oval, Mount Maunganui\nMatch Centre]",6 MAR 2022,6:30 AM IST
3,ICC WOMENS WORLD CUP 2022\n10 MAR 2022\n6:30 A...,ICC WOMENS WORLD CUP 2022,"[Seddon Park, Hamilton\nMatch Centre]",10 MAR 2022,6:30 AM IST
4,ICC WOMENS WORLD CUP 2022\n12 MAR 2022\n6:30 A...,ICC WOMENS WORLD CUP 2022,"[Seddon Park, Hamilton\nMatch Centre]",12 MAR 2022,6:30 AM IST

In [106]:
driver.close()

Ques.3-Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [19]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [20]:
url='https://www.guru99.com/'
driver.get(url)

In [21]:
sele=driver.find_element_by_xpath("//a[@title='Selenium']")
sele.click()

In [22]:
try:
    exc_han=driver.find_element_by_xpath("//a[@title = 'Selenium Exception Handling (Common Exceptions List)']")
    exc_han.click()
except NoSuchAttributeException as e:
    driver.get(exc_han.get_attribute('href'))

In [23]:
exception_name=[]
description=[]
for j in range(2,43):
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[2]".format(j)):
        description.append(i.text)
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[1]".format(j)):
        exception_name.append(i.text)

In [24]:
df=pd.DataFrame({'Name':exception_name,'Description':description})
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [25]:
driver.close()

Ques4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [26]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [27]:
url='http://statisticstimes.com/'
driver.get(url)

In [28]:
india=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
driver.get(india.get_attribute('href'))

In [29]:
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [30]:
Rank=[]
State=[]
GSDP_19=[]
GSDP_18=[]
Share=[]
GDP=[]
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    State.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19.append(i.text)  
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[8]"):
    GSDP_18.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    Share.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [31]:
stat=pd.DataFrame({'Rank':Rank,'State':State,'GSDP 19-20':GSDP_19,'GSDP 18-19':GSDP_18,'Share':Share,'GDP($Billion)':GDP})
stat

   Rank                      State GSDP 19-20 GSDP 18-19   Share GDP($Billion)
0     1                Maharashtra          -  2,039,074  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,215,307   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,123,982   8.39%       240.726
3     4                    Gujarat          -  1,186,379   7.96%       228.290
4     5                  Karnataka  1,631,977  1,091,077   7.91%       226.806
5     6                West Bengal  1,253,832    739,525   5.77%       165.556
6     7                  Rajasthan  1,020,989    677,428   4.99%       143.179
7     8             Andhra Pradesh    972,782    621,301   4.57%       131.083
8     9                  Telangana    969,604    612,828   4.56%       130.791
9    10             Madhya Pradesh    906,672    522,009   4.29%       122.977
10   11                     Kerala          -    559,412   4.14%       118.733
11   12                      Delhi    856,112    590,569   4.10%       117.703
12   13                    Haryana    831,610    531,085   3.89%       111.519
13   14                      Bihar    611,804    375,651   2.81%        80.562
14   15                     Punjab    574,760    397,669   2.79%        79.957
15   16                     Odisha    521,275    376,877   2.58%        74.098
16   17                      Assam          -    234,048   1.67%        47.982
17   18               Chhattisgarh    329,180    231,182   1.61%        46.187
18   19                  Jharkhand    328,598    224,986   1.57%        45.145
19   20                Uttarakhand          -    193,273   1.30%        37.351
20   21            Jammu & Kashmir          -    112,755   0.83%        23.690
21   22           Himachal Pradesh    165,472    117,851   0.81%        23.369
22   23                        Goa     80,449     57,787   0.39%        11.115
23   24                    Tripura     55,984     36,963   0.26%         7.571
24   25                 Chandigarh          -     31,192   0.22%         6.397
25   26                 Puducherry     38,253     23,013   0.18%         5.230
26   27                  Meghalaya     36,572     24,682   0.18%         5.086
27   28                     Sikkim     32,496     18,722   0.15%         4.363
28   29                    Manipur     31,790     19,300   0.15%         4.233
29   30                   Nagaland          -     17,647   0.14%         4.144
30   31          Arunachal Pradesh          -     16,676   0.13%         3.737
31   32                    Mizoram     26,503     16,478   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

In [32]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [33]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [34]:
url='https://github.com/'
driver.get(url)

In [35]:
explore = driver.find_element_by_xpath('//li[@class = "mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-bottom border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center"][4]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [36]:
trending = driver.find_element_by_xpath('//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [37]:
names=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [38]:
desc=[]
try:
    description=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in description:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')

In [39]:
urls=[]
counts=[]
match_page=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
for i in match_page:
    urls.append(i.get_attribute('href'))

In [40]:
lang=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        if 'Languages' in listy:
            lang.append(listy[listy.index('Languages')+1])
        else:
            lang.append('N/A')
except NoSuchElementException:
    lang.append('N/A')

In [41]:
counts=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        for j in listy:
            if j.split()[0]=='Contributors':
                counts.append(j.split()[1])
                break
        else:
            counts.append('N/A')
except NoSuchElementException:
    counts.append('N/A')

In [42]:
len(names),len(desc),len(lang),len(counts)

(25, 25, 1, 1)

In [43]:
git=pd.DataFrame()
git['Repository title']=names[0:10]
git['Repository description']=desc[0:10]
#git['Language used']=lang[0:10]
#git['Contributors count']=counts[0:10]
git

,Repository title,Repository description
0,AppFlowy-IO / AppFlowy,AppFlowy is an open-source alternative to Noti...
1,cat-milk / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books
2,dj-nitehawk / FastEndpoints,A light-weight REST Api framework for ASP.Net ...
3,Azure / AlwaysOn,AlwaysOn provides a design methodology and app...
4,krol3 / container-security-checklist,Checklist for container security - devsecops p...
5,planetscale / beam,A simple message board for your organization o...
6,louisyoungx / JD-SHOPPER,"京东自动下单 (自动登录,指定时间预约商品,商品补货监控,自动加购物车,自动下单)"
7,nusr / hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip..."
8,phil-opp / blog_os,Writing an OS in Rust
9,labuladong / fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...

In [44]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [107]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [108]:
url='https://www.billboard.com/'
driver.get(url)
driver.maximize_window()

In [111]:
url=driver.find_elements_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block']")
urls=url[0].get_attribute('href')
driver.get(urls)

In [128]:
Name=[]
Name.append(driver.find_element_by_xpath("//div[@class='u-flex-grow-15 lrv-u-margin-tb-050']").text)
Artist=[]
Artist.append(driver.find_element_by_xpath("//span[@class='c-label  a-font-primary-s u-letter-spacing-0021 a-truncate-ellipsis-2line']").text)
rank=[]
rankTag=driver.find_elements_by_xpath("//span[@class='c-label  lrv-u-font-size-32 a-font-primary-bold-l']")
rank.append([i.text for i in rankTag[:3]])

In [129]:
nameTag=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
Name.append([i.text for i in nameTag])
artistTag=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist.append([i.text for i in artistTag])
Rank=[]
RankTag=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.append([i.text for i in RankTag])

In [130]:
for i in Rank:
    if i=='':
        Rank.remove(i)

In [135]:
# lastweekpos=Rank[0::3]
# lastweekpos.insert(0,rank[0])
# peakPos=Rank[1::3]
# peakPos.insert(0,rank[1])
# weeksonBoard=Rank[2::3]
# weeksonBoard.insert(0,rank[2])

In [136]:
len(Name),len(Artist),len(lastweekpos),len(peakPos),len(weeksonBoard)

(2, 2, 2, 0, 1)

In [137]:
df=pd.DataFrame()
df['SongName']=Name
df['ArtistName']=Artist
df['Last Week']=lastweekpos[0:100]
#df["PeekPosition"]=peakPos[0:100]
#df['Weeks On board']=weeksonBoard[0:100]
df

              SongName  ArtistName  Last Week
0  Encanto\nSoundtrack  Soundtrack  [1, 2, 3]
1                   []          []         []

In [134]:
driver.close()

Ques7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [74]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [75]:
url = "https://www.naukri.com/recruiters/"
driver.get(url)

In [76]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')

search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [77]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]


#Scraping Name 
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i  in name:
    Name.append(i.text)
    
#Scraping Designation 
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i  in designation:
    Designation.append(i.text)    
    
#Scraping Company 
company=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i  in company:
    Company.append(i.text)   
    
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
         Location.append(i.text)

In [78]:
Recruiters=pd.DataFrame({})
Recruiters['Name']= Name[0:30]
Recruiters['Designation']= Designation[0:30]
Recruiters['Company']= Company[0:30]
Recruiters['Skills_they_hire']= Skills_they_hire[0:30]
Recruiters['Location']= Location[0:30]
Recruiters

,Name,Designation,Company,Skills_they_hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore

In [56]:
driver.close()

Ques8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [57]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [58]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [59]:
book=[]
author=[]
volume=[]
pub=[]
genre=[]
for j in range(1,101):
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[2]".format(j)):
        book.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[3]".format(j)):
        author.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[4]".format(j)):
        volume.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[5]".format(j)):
        pub.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[6]".format(j)):
        genre.append(i.text)

In [60]:
df=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sold':volume,'Publisher':pub,'Genre':genre})
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [61]:
driver.close()

Ques9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [62]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [63]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [64]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a"):
        Name.append(i.text)
except NoSuchAttributeException as e:
    Name.append('--')
try:
    for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        Year.append(i.text)  
except NoSuchAttributeException as e:
     Year.append('--')
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
        Genre.append(i.text)  
except NoSuchAttributeException as e:
    Genre.append('--')
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
        Time.append(i.text)  
except NoSuchAttributeException as e:
    Time.append('--')  
try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
        Rating.append(i.text)  
except NoSuchAttributeException as e:
    Rating.append('--')   
try:
    for i in driver.find_elements_by_xpath("//span[@name='nv']"):
        Votes.append(i.text)  
except NoSuchAttributeException as e:
    Votes.append('--')

In [65]:
df=pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Time_Span':Time,'Rating':Rating,'Votes':Votes})
df

,Name,Year,Genre,Time_Span,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,956,939"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"966,648"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"932,166"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"279,088"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,267"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,812"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,532"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,808"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,338"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"222,118"

In [66]:
driver.close()

Ques10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [67]:
driver=webdriver.Chrome(r'C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [68]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [69]:
view_all=driver.find_element_by_xpath("//span[2][@class='whitetext']/a")
view_all.click()

In [70]:
data=[]
typ=[]
task=[]
attribute=[]
number=[]
n_attribute=[]
year=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    data.append(i.text)
for k in range(2,590):
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(k)):
        typ.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(k)):
        task.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(k)):
        attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(k)):
        number.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(k)):
        n_attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(k)):
        year.append(i.text)

In [71]:
print(len(data))
print(len(typ))
print(len(task))
print(len(attribute))
print(len(number))
print(len(n_attribute))
print(len(year))

622
588
588
588
588
588
588

In [72]:
df=pd.DataFrame({'Dataset Name':data[:588],
                 'Data Type':typ,'Task':task,'Attribute type':attribute,
                 'No of instances':number,'Number of Attribute':n_attribute,
                 'Year':year})
df

,Dataset Name,Data Type,Task,Attribute type,No of instances,Number of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [73]:
driver.close()